main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  margin: 80px auto 45px auto;
}
main > div > a {
  display: flex;
  align-items: center;
  gap: 5px;
  color:#0A0F29;
}
main > div > a > img {
  height: 18px;
}
main > div > a > span {
  font-size: 12px;
}
