main{
  padding: 0 20px;
}
header h3{
    padding: 22px 0;
}
section ol {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 0 0 18px;
}
section li {
  list-style: decimal;
}
@media screen and (min-width: 769px) {
  main {
    padding: 40px 60px 0 60px;
  }
}
