.heading-container {
  background-image: url("/images/img-5.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
  margin: 50px auto 0 auto;
}
.word {
  display: flex;
  justify-content: center;
  font-weight: 900;
  text-align: center;
  max-width: 600px;
  padding: 80px 20px 0 20px;
  margin: 0 auto;
}
.word h1 {
  font-weight: 900;
  color: #f7f7f7;
}
#one {
  padding: 10px 20px 5px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #9ad2ff;
}
.info {
  padding: 10px 0 32px 0;
  max-width: 900px;
  margin: 0 auto;
}
.info h1 {
  padding-top: 30px;
  font-size: 32px;
  display: flex;
  justify-content: center;
}
.input-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info p {
  margin: 20px 0 1px 5.1%;
  font-weight: 800;
}
.input-bar input,
select {
  font-size: 1rem;
  border-radius: 10px;
  width: 90%;
  padding: 8px 10px;
  border: none;
  background-color: #E0E0E0;
}
button {
background-color: #003da5;
  width: 50%;  
  color: #f2f2f2;
  border: none;
  border-radius: 3.5px;
  margin: 20px auto 0 auto;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  font-size: medium;
}
button > a {
  color: #f2f2f2;
}
@media screen and (min-width: 769px) {
  .heading-container {
    height: 450px;
  }
  .word {
    padding: 180px 20px 0 20px;
  }
  .info{
    padding: 25px 0 32px 0;
  }
}
