.stress {
     margin-top: 50px;
     text-align: center;
     width: 100%;
     background-color: #bcb0b0;
}


.pay {
    text-align: center;
}



#paymentForm {
    text-align: center;
    width: 100%;
    
}



#paymentForm select {
    width: 200px;
    height: 20px;
    margin-right: 10px;
    background-color: #a9a8a8;
    box-shadow: none;
}

.payForm {
    display: flex;
    align-items: center;
    border: none;
}




label {
    margin-right: 10px;
    
}



.payForm p {
    margin-top: 5px;
}


input {
    background-color: #a9a8a8;
    box-shadow: #a9a8a8;
}


.Payment {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
   
}


button {
    border: 1px solid #646688;
    background-color: #646688;
    color: black;
    box-sizing: border-box;
    padding: 5px 20px;
    width: 50%;
}


.Transfer p {
    text-align: center;
}


table {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: top;
}


td {
    text-align: right;
}


@media screen and (min-width: 769px){
    .stress {
        margin-top: 70px;
    }


    .payForm {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}