main {
  margin-top: 50px;
}
input {
  padding: 8px 0 8px 12px;
  border-radius: 8px;
  background-color: #cccccc;
  border: none;
}
.hero-section-child1 {
  background-image: url("/images/img-6.jpeg");
  background-attachment: fixed;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#F7F7F7;
}
.hero-section-child1 p{
  color: #9AD2FF;
}
.hero-section-child2 {
  padding: 20px 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
}
form > div {
  display: flex;
  flex-direction: column;
}
.pin-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pin-section > div {
  display: flex;
  flex-direction: column;
}
button {
  width: 60%;
  height: 32px;
  background-color: #003da5;
  color: #f2f2f2;
  border: none;
  border-radius: 3px;
  margin: 20px auto 0 auto;
}
.hero-section-child3{
  padding-bottom: 30px;
  max-width: 700px;
  margin: 0 auto;
}
.hero-section-child3 h2{
  padding: 0 0 30px 0;
}
.hero-section-child3__list-items{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.hero-section-child3__list-items  > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.hero-section-child3__list-item--big{
  font-size: 20px;
  font-weight: 900;
}
@media screen and (min-width: 600px) {
  .pin-section {
    flex-direction: row;
    width: 100%;
  }
  .pin-section > div {
    width: 50%;
  }
  .hero-section-child3__list-items  > ul{
    flex-direction: row;
    justify-content: space-between;
  }
}
