* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
  }
  
  

  .write{
    margin-top: 3rem;
    text-align: center;
    background-color: #BCB0B0;
    padding:2.5rem;
  }

  .part-2{
    background-color: #FFF;
    text-align: center;
  }

  .part-2 img{width: 10%;
  margin-top: 1rem;}

  #one{margin-top: 3rem;}

  h5{margin-top: 2rem;
  font-size: medium;}

  #two{margin-top: 0.3rem;}

 #three img{
  width: 4%;
  cursor: pointer;
 }

 #three{font-size: 0.8rem;}

 button{
  border: none;
  background-color: #646668;
  width: 60%;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
 }